nltk
torch
numpy
transformers
accelerate
flash-attn

pandas
beautifulsoup4
youtube-transcript-api


GitPython              # downloading repos
nbformat               # ipynb files
youtube-transcript-api # yt transcripts
pypdf
beautifulsoup4
PyYAML
pandas
requests
